/app/*.log
/.idea
/build.gradle

/.gradle
/*.log
/*.iml
/app/*.iml
/test
/local.properties
/*.log
/hs_err_pid36108.log
/hs_err_pid48820.log
/hs_err_pid49144.log
/app/hs_err_pid1316.log
/app/hs_err_pid23692.log
/test2
/build
